/* Styles for the root container */
#root {
  max-width: 1280px;
  margin: 20px auto;
  padding: 2rem;
  text-align: left;
  margin-left: -40px;
}

body {
  background-image: url('../src/assets/krypton.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.form-control {
  background-color: #3c3b3b !important;
  color: white !important;
  border-color: rgb(128, 7, 7) !important;
}

input::placeholder {
  color: red; /* Change to your desired placeholder text color */
}

.btn,
.btn-light:hover {
  background-color: rgb(51, 51, 52);
  color: white;
}

input::placeholder {
  color: white;
}


.table {
  border-collapse: collapse;
  border-color: red;
  border-width: 5px;
  }

.table th {
  background-color: #292b2c;
  color: white;
  font-weight: bold;
  border-color: red;
  border-width: 2px;
}

.table tr {
  background-color: rgb(26, 25, 25);
  color: white;
  font-weight: bold;
  border-color: red;
  border-width: 2px;
}

.table td {
  background-color: #464646;
  color: white;
  font-weight: bold;
  border-color: red;
  border-width: 2px;
  /* Increase the border thickness to 2 pixels */
}